.nav-subs:hover {
  color: #f72210;
  text-decoration: none;
}

.navbar-second-link:hover {
  color: #f72210;
  text-decoration: none;
}

.main-row-img-1 a:hover {
  color: #f72210;
  text-decoration: none;
}

.main-row-txt-1 a:hover {
  color: #f72210;
  text-decoration: underline;
}

.main-row-relates a:hover {
  color: #f72210;
  text-decoration: none;
}

.main-row-txt-culture a:hover {
  color: black;
  text-decoration: none;
}

.social-tag a:hover {
  background-color: #272727;
  color: #c2d4d7;
  text-decoration: none;
}

.more-sumary a:hover {
  color: #f72210;
}

.opinion-sumary a:hover {
  color: #f72210;
  text-decoration: none;
}

.latest-sumary a:hover {
  color: #f72210;
  text-decoration: none;
}

.main-sign-up-2 a:hover {
  color: white;
  text-decoration: none;
  background-color: rgba(102, 102, 102, 0.7);
}

.main-sign-up-3 a:hover {
  color: #333;
  text-decoration: none;
}